@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400;500;600;700;800&display=swap');

:root {
    --card__radius: 42px;
    --card__background: #574260;
    --red: #f34253;
    --yellow: #f7c603;
    --blue: #20325f;
    --grey: #434a54;
}

body {
    font-family: 'Podkova', serif;
    box-sizing: border-box;
    background: #3761A8;
    color: white;
    width: 100%;
    height: 100%;
    padding: 1em;
}

.inner-wrapper {
    max-width: 90vw;
    margin: 0 auto;
}

main {
    min-height: 50vh;
    margin-bottom: 200px;
}

#numOfPoke {
    position: fixed;
    padding: 23px 16px;
    font-size: 1.7em;
    bottom: 10px;
    right: 14vw;
    background-color: white;
    border-radius: 100%;
    z-index: 1000;
    color: black;
    text-align: center;
    border: 5px solid transparent;
}

#scrolltocaught {
    all: unset;
    cursor: pointer;
}

#numOfPoke:hover {
    background-color: var(--red);
    color: white;
    border: 5px solid var(--grey);
}

.container-fluid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 39vh;
}

.page__title {
    margin: .50em 0;
    color: var(--yellow);
    text-align: center;
    font-size: 3.25rem;
    text-transform: uppercase;
}

#displayPokemon {
    max-width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.pokemoncard {
    flex: 1 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
    padding: 1em;
    width: fit-content;
    background-color: white;
    border-radius: 3.125rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.pokemoncard__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    max-width: 80vw;
    background-color: var(--card__background);
    border-radius: var(--card__radius);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
}

.pokemoncard__contents {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100%;
    width: 100%;
    min-width: 280px;
}

@media screen and (min-width: 700px) {
    .pokemoncard__contents {
        width: 400px;
    }

}






.pokemoncard__contents h3 {
    padding: .50em;
    margin-bottom: 1vh;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    background-color: var(--red);
    border-radius: 42px 42px 0 0;
    text-transform: capitalize;
    font-weight: lighter;
}

.pokemoncard__contents .pokemonimg {
    margin: 2em auto;
    width: 70%;
    height: 350px;
}

#caughtcontainer .pokemonimg {
    max-width: 240px;
}


.info {
    position: absolute;
    top: 16%;
    width: 15%;
    padding: 10px 10px;
    font-size: 3em;
    cursor: pointer;
    fill: white;
    z-index: 10000;
}

.info:hover {
    transform: scale(1.2);
}

.hidden {
    visibility: hidden;
}

.pokemoncard__catchbtn {
    all: unset;
    width: 15rem;
    height: 3.9375rem;
    flex-shrink: 0;
    border-radius: 0.4375rem;
    background: var(--red);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-size: 2.1875rem;
    font-weight: 500;
    letter-spacing: 0.45938rem;
    text-transform: uppercase;
}

#reload {
    min-width: fit-content;
    padding: 0 1em;
    margin: 1em auto;
    font-size: 1.5rem;
}

.pokemoncard__catchbtn:hover {
    background-color: #bc2130;
    cursor: pointer;
}

/* Pokemon Caught bag */

.caughtPokemon__container {
    max-width: 90vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
    margin: auto;
}

.caughtPokemon__container #pokeBall {
    position: absolute;
    top: 0;
    max-width: 14vw;
    cursor: pointer;
}

@media screen and (min-width: 800px) {
    .caughtPokemon__container #pokeBall {
        bottom: 95%;
    }
}

.caughtPokemon__container #caughtPokemon {
    width: 98%;
    display: flex;
    padding: 2% 0;
    flex-shrink: 0;
    border-radius: 3.125rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: bisque;
    border: burlywood 7px solid;
    justify-content: center;
}

#caughtcontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 8vh;
}

.caught {
    border-radius: 3.125rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: white;
    padding: 1.6em 1.2em;
    flex: 1;
    width: 50%;
    max-width: 400px;
    margin: 1em auto;
    top: 10em;
    z-index: 2;
}

.caught .release:hover {
    background-color: #bc2130;
}

.caught .info {
    top: 18%;
    right: 10px;
    padding: 1px;
    width: 40px;
}

.ability-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: center;
    position: absolute;
    padding: 2em;
    width: 90%;
    height: 100%;
}

.hidden {
    visibility: hidden;
}

.ability-list th {
    font-size: 2rem;
}

.ability-list tr {
    display: flex;
    gap: 0 10px;
}

.ability-list td {
    font-size: 1em;
    display: inline;
}

#loading {
    display: none;
    justify-content: center;
}

#loading svg {
    fill: red;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 0.2;
    }
}