:root {
    --card__radius: 42.4px 42.4px 0px 0px;
    --card__background: #574260;
}

body {
    font-family: 'Podkova', serif;
    background: #3761A8;
    color: white;
    padding: 1em 0;
}

.page__title {
    margin: .50em 0;
    color: #FFF;
    text-align: center;
    font-size: 3.25rem;
    font-family: Podkova;
    text-transform: capitalize;
}

.pokemon__card__outer {
    flex-wrap: wrap;
    margin: 0 auto;
}

.pokemon__card {
    margin: 0 auto;
    border-radius: 42.4px;
    background: var(--card__background);
    padding: 1em;
}

.pokemon__card .pokemon__img {
    padding: 0 1em;
}

.pokemon__card__inner .card-title {
    background-color: red;
    width: 100%;
    text-align: center;
    color: white;
    padding: 1rem 0;
    border-radius: var(--card__radius);
    color: #FFF;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.42rem;
}

.pokemon__card__inner .icon {
    margin-top: 1px;
    font-size: 2.4em;
    cursor: pointer;
    color: white;
}


.action__button {
    width: calc(100% - 2em);
    border-radius: 7px;
    background: #FF3D00;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-size: 2.1875rem;
    font-family: Podkova;
    font-weight: 500;
    letter-spacing: 0.45938rem;
    text-transform: uppercase;
}